{% extends "base.html" %} {% import 'macros.html' as macros %} 
{% block content %}

<html>
<!--bootstrap MaxCODN -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet"/>
<script>
function dodata(){
    var result = $("input[name=xxx]:checked").map(function () {return this.value;}).get().join(",");
     
    $("#result").val(result);
   }

</script>
<body>
<div class="col-md-4 col-md-offset-4">

      <div align="center">
        <h2> Welcome ! StudentId: {{studentid}}</h2>
      </div>


<hr>


<div class="checkbox">
<table>
<h4>Choose the course you want to take</h4>
CMPE:<br />
{% for z in courseinfo %}
	<tr>
	  <td>
		<label><input type="checkbox" value="{{z.Course}}" name ="xxx"
		{% if z.Checked %}
		  checked
		{% endif %}
		>{{z.Course}}</label>
	  </td></tr>
{% endfor %}
</table>

<form method="post" action="/check">
<input type="hidden" name="result" id="result" >


</div>


<div align="center">
   <p><input type="submit" onclick ="dodata()" class="btn btn-primary" style="background-color:green;font-size:30px;"></button></p>
</div>
</form>


<hr>

<div align="center">
    <p><a href="/"><button type="submit" class="btn btn-primary">Return home</button></a></p>
</div>


</body>
</html>

{% endblock %}  
